.navbar-nav>li>a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 5px;font-size: 17px;
}
.brand-name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #055489;
    margin-top: 9px;
}