

<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="box">
        <div class="container">
            <form class="was-validated">
                <div class="row my-5"><h1 class="fs-1">Login</h1></div>
                <div class="row mb-4">
                    <input class="form-control form-control-lg is-invalid" type="email" placeholder="Email..." required  [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="row mb-5">
                    <input class="form-control form-control-lg is-invalid" type="password" placeholder="password..." required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="row mb-3">
                    <button type="submit" class="btn btn-success btn-lg rounded-pill" (click)="login()"  routerLink="/home" routerLinkActive="active">SUBMIT</button>
                </div>
                <div class="row"><p class="fs-5">Don't have an account? <a routerLink="/signup" routerLinkActive="active">Signup</a></p></div>
            </form>
            <div class="divider my-lg-5"></div>
        </div>
        
    </div>
</div>
